<header class="p-3 mb-2 bg-info">
    <blockquote class="blockquote text-center">
        <h1 class="display-2">{{role}}S</h1>
    </blockquote>
</header>
<div class="d-grid gap-2">
    <button type="submit" class="btn btn-success" (click)="back()">BACK</button>
</div>
<div class="card">
    <h5 class="card-header">PLAYER</h5>
    <div class="card-body">
        <h5 class="card-title"><strong>{{players[index].surname}} {{players[index].name}} </strong></h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Team:</strong> {{players[index].team}}</li>
        <li class="list-group-item"><strong>Goals:</strong> {{players[index].ngoal}}</li>
        <li class="list-group-item"><strong>Assists:</strong> {{players[index].nassist}}</li>
        <li class="list-group-item"><strong>Yellow cards:</strong> {{players[index].nyellowcard}}</li>
        <li class="list-group-item"><strong>Red cards:</strong> {{players[index].nredcard}}</li>
    </ul>
    <div class="card-body">
        <h5 class="card-title">Quote: <strong class="bg-warning">{{players[index].quote}}</strong></h5>
    </div>
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end d-md-block" role="group">
    <div class="btn-group float-sm-left" role="group">
        <button type="submit" class="btn btn-danger btn-lg" (click)="prevMedia()">PREVIOUS</button>
    </div>
    <p></p>
    <div class="btn-group float-sm-right" role="group">
        <button type="submit" class="btn btn-danger btn-lg" (click)="nextMedia()">NEXT</button>
    </div>
</div>
